@keyframes todo-elements {
    0%{
        color: white;
    }
    25%{
        color: rgb(213, 213, 213)
    }
    50%{
        color: rgb(205, 205, 205);
    }
    75%{
        color: rgb(200, 200, 200);
    }
    100%{
        color: rgb(195, 195, 195);
    }
}

@keyframes input-animation {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
      }

      20%, 80% {
        transform: translate3d(2px, 0, 0);
      }

      30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
      }

      40%, 60% {
        transform: translate3d(4px, 0, 0);
      }
}

@keyframes task-appear {
    from {
        transform: translateX(200px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes task-removed {
    from {
        transform: translateX(0px);
        opacity: 1;
    }
    to {
        transform: translateX(200px);
        opacity: 0;
    }
}

#container {
    height: 100%;
    width: 100%;
}

html {
    height: 100%;
    top: 0;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #363f4d;
}

#header {
    width: 320px;
    height: 70px;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    background-color: #3d4757;
    box-shadow: 0 0 5px rgb(0, 0, 0);
}

#head-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;

    color: #b55728;

    line-height: 65px;
    margin-left: 25px;
}

.element-icon {
    width:15px;
    height: 15px;
    margin-top: 50px;
    margin-right: 25px;

    font-size: 20px;
    margin-top: 40px;

    float: right;

    color: white;

    transition: 200ms ease-in-out;
}

.element-icon:hover {
    cursor: pointer;

    transform: translateY(-2.5px);
    animation: todo-elements 2s ease-in-out forwards;
}

#user-content {
    width: 320px;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.task-input {
    width: 200px;
    height: 15px;
    margin-left: 60px;
    margin-top: 25px;
}

.input-already-exists {
    box-shadow: 0 0 10px #910c0c;
    border: 1px solid #910c0c;

    animation: input-animation 0.5s ease-in-out forwards;
}

.task {
    width: 200px;
    height: 55px;
    margin-left: 25px;
    margin-top: 20px;
    line-height: 50px;

    font-size: 18px;

    color: white;
    text-shadow: 0 0 1px white;

    animation: task-appear 250ms ease-in-out forwards;
}

.task:hover {
    border: 1px solid #b55728;
}

.task-removed {
    animation: task-removed 250ms ease-in-out forwards;
}